extends layout-gcoin

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p 
          | Gコイン売買画面からゴルファー様は指定の銀行のご自分の口座の円とGコインを交換することができます。
          | 購入したGコインはブロックチェーン上のゴルファー様のワレットに保管され、ゴルフ会員権売買の決済等に利用できます。
