extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Gコイン売買申請
    .row
      .col-xs-12.col-md-6
        form.form-horizontal(action="/gcoin", method="get", role="form")
          .form-group
            label.col-xs-10.col-sm-2.control-label(for="buyGcoin") 購入するGcoin
            .col-xs-12.col-sm-10
              input#buyGcoin.form-control(name="buyGcoin") Gcoin
          .form-group
            label.col-xs-10.col-sm-2.control-label(for="bank") 購入する銀行
            .col-xs-12.col-sm-2
              select#bank.from-control.input-sm(name="bank") Bank
                第一産業銀行
                白水銀行
                東都信託銀行
          button.btn.btn-default.pull-right 申請
      .col-xs-12.col-md-4
