extends layout-gcoin

block content
  #banner.page-header
    .row
      .col-md-12.col-sm-12
        h1= title
    .row
      .col-md-12.col-sm-12
        p
          | Gコインの売却申込情報を入力して売却申込ボタンを押してください。売却金はご指定の銀行口座に入金されます。
    .row
      .col-xs-12.col-md-12
        form.form-horizontal(action="", method="post", role="form")
          .form-group
            label.col-xs-12.col-sm-2.control-label(for="id") ユーザーID
            .col-xs-12.col-sm-8
              input#id.form-control(name="id")
          .form-group
            label.col-xs-12.col-sm-2.control-label(for="pw") パスワード
            .col-xs-12.col-sm-8
              input#pw.form-control(name="pw")
          .form-group
            label.col-xs-12.col-sm-2.control-label(for="lastName") 姓
            .col-xs-12.col-sm-8
              input#lastName.form-control(name="lastName")
          .form-group
            label.col-xs-12.col-sm-2.control-label(for="firstName") 名
            .col-xs-12.col-sm-8
              input#firstName.form-control(name="firstName")
          .form-group
            label.col-xs-12.col-sm-2.control-label(for="bank") 取扱銀行
            .col-xs-12.col-sm-8
              select#bank.form-control(name="bank")
                option(value="gcoin@abcbank.com") ABC銀行
                option(value="gcoin@jklbank.com") JKL銀行
                option(value="gcoin@xyztrustbank.com") XYZ信託銀行
          .form-group
            label.col-xs-12.col-sm-2.control-label(name="amount") Gコイン売却量
            .col-xs-12.col-sm-8
              input#amount.form-control(name="amount") 
          .form-group
            .col-xs-12.col-sm-8
              button.btn.btn-default.pull-right 売却申込

