extends layout-mem

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p 
          | ゴルフ会員権売買画面からゴルファー様はゴルフ会員権の売り注文、または売り注文への買い注文を出すことができます。
          | 売買が成立すると買い手様から売り手様、ゴルフ場様への支払いはGコインで行われます。
