extends layout

block content
  #banner.page-header
    .row
      .col-md-12.col-sm-12
        h1= title
  .row
    .col-md-12.col-sm-12
      p 
        | Gcoin-Bank はGコイン購入・売却リクエストを処理するための金融機関向けアプリケーションです。
        | <br /><br />
        | Gcoin-Golfer、Gcoin-Course と合わせてご利用戴くことでGコインによるゴルフ会員権の売買が可能です。
        | Gcoinアプリケーションシリーズにご期待ください。
