extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p 
          | Gcoin-Course はGコインによるゴルフ会員権売買注文を処理するためのゴルフ場用アプリケーションです。
          | <br /><br />
          | GコインはGcoinアプリケーションシリーズからご利用ください。
