extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p
          | Gcoin-Course はGコインによるゴルフ会員権売買注文を処理するためのゴルフ場用アプリケーションです。
          | <br /><br />
          | ユーザーID、パスワードを入力してログインしてご利用下さい。
    .row
      .col-xs-12.col-md-6
        form.form-horizontal(action="/about", method="get", role="form")
          .form-group
            label.col-xs-10.col-sm-2.control-label(for="id") User-ID
            .col-xs-12.col-sm-10
              input#id.form-control(name="id")
          .form-group
            label.col-xs-10.col-sm-2.control-label(for="pw") Password
              input#pw.from-control(name="pw")
