extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        table
          tr
            th 連番
            th ゴルフ場
            th 売り値(Gコイン)
            th 売り注文受付日
            th 買い注文受付日
            th 譲渡完了日
          each memOdr in memOdrs
            tr
              td odr.id
              td odr.courseName
              td odr.sellPrice
              td odr.sellDate
              td odr.buyDate
              td odr.transferDate
