extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p 
          | Gcoin-Golfer はGコイン売買申込およびゴルフ会員権売買注文を行うためのゴルファー用アプリケーションです。
          | <br /><br />
          | GコインはGcoinアプリケーションシリーズからご利用ください。
